<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 70vh"
>
  <div class="container text-center">
    <h2 class="fw-bold text-danger display-3">OLYMPIC</h2>
    <h3>
      Các môn khoa học Mác-Lênin, tư tưởng Hồ Chí Minh và nhận thức chính trị-xã
      hội
    </h3>
    <div class="links mt-4">
      <a href="/rules" class="btn btn-primary">Thể lệ cuộc thi</a>
      <a href="/test" class="btn btn-success">Vào thi</a>
    </div>
  </div>
</div>
<footer>
  <h3 class="text-center">Chúc các đồng chí thi tốt!</h3>
</footer>
