<h2 class="mt-4 text-center">Các phần thi</h2>
<div class="d-flex justify-content-center align-items-center mt-3">
  <div
    class="col-md-4 left-menu d-flex flex-column gap-2 p-3 rounded-3"
    style="background: #fff; border: 2px solid #333; min-height: 300px"
  >
    <a href="/general-knowledge" class="btn btn-outline-primary">
      Kiến thức chung
    </a>
    <a href="/introduction" class="btn btn-outline-success">
      Tự giới thiệu về trường
    </a>
    <a href="/mandatory-questions" class="btn btn-outline-warning">
      Trả lời câu hỏi tự luận bắt buộc
    </a>
    <a href="/multiple-choice" class="btn btn-outline-info">
      Trả lời câu hỏi trắc nghiệm
    </a>
    <a href="/eloquence" class="btn btn-outline-danger">
      Thi hùng biện theo chủ đề
    </a>
    <a href="/crossword" class="btn btn-outline-dark"> Phần thi giải ô chữ </a>
  </div>
</div>
<div class="text-center">
  <a href="/" class="btn btn-success mt-3" id="btnBack"> Về trang chủ </a>
</div>
